<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coeuz.pyscustomer">

    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.network" />

    <application

        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="android.support.multidex.MultiDexApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:configChanges="orientation|screenSize"
            android:noHistory="true"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".StartUpActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".WelcomesActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Requiredclass.InternetMessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".LocationChangeActivity"
            android:configChanges="orientation|screenSize"
            android:label="Preferred Location"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".NotificationActivitys"
            android:configChanges="orientation|screenSize"
            android:label="Notifications"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Account"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".BookingHistoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="Booking History"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".MembershipActivity"
            android:configChanges="orientation|screenSize"
            android:label="Membership"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".SubActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FilterActivity"
            android:configChanges="orientation|screenSize"
            android:label="Filter"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".AfterSelectVendor"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".SlotPages"
            android:configChanges="orientation|screenSize"
            android:label="Booking Summary"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:label="Change Password"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDA2L67fZwztMdooFr5eakRmpNdTFEhVjQ" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCPWBYpf0rn1UXGXco1GVGxWY4qVzGLjYI" />
        -->

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="Login"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:label="SignUp"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Requiredclass.LoginFrontPage"
            android:configChanges="orientation|screenSize"
            android:label="Login"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ForgotPassordActivity"
            android:configChanges="orientation|screenSize"
            android:label="Forgot Password"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="Profile"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".UpdatePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:label="Update Password"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <service
            android:name=".MyNotificationExtenderService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_lOsVoCyrlJxEmD"
            tools:replace="android:value" />

        <activity
            android:name=".PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:label="Payment Activity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".CourseActivity"
            android:configChanges="orientation|screenSize"
            android:label="Course"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".AboutPys"
            android:configChanges="orientation|screenSize"
            android:label="About us"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            >
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:theme="@style/AppTheme.Gallery" />
        <activity
            android:name=".MembershipBookingSummary"
            android:configChanges="orientation|screenSize"
            android:label="Membership Booking"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".CourseBookingSummary"
            android:configChanges="orientation|screenSize"
            android:label="Course Booking"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ConsecutiveBookingSummary"
            android:configChanges="orientation|screenSize"
            android:label="Booking Summary"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".ConfirmationActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".ApplyOffer"
            android:configChanges="orientation|screenSize"
            android:label="Apply Offer"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".AddPlayer"
            android:configChanges="orientation|screenSize"
            android:label="Add Player"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
    </application>

</manifest>